In [ ]:
# Twitter Sentiment Analysis
import pandas as pd
train = pd.read_csv('http://devanshushukla.com/hackveda.in/videos/PythonDataSets/twitter_sentiment_analysis.csv')
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [ ]:
train.shape

(31962, 3)

In [ ]:
train.columns

Index(['id', 'label', 'tweet'], dtype='object')

In [ ]:
# lambda function
# anonymous function
# a lambda can take upto n number of arguments
# syntax : 
# lambda argument/s : expression

x = lambda x : x+5

print(x(10))

15

In [ ]:
# split function

str1 = "Twitter Sentiment Analysis"
x = str1.split()
print (x)

['Twitter', 'Sentiment', 'Analysis']

In [ ]:
str1 = "Twitter#Sentiment#Analysis"
x = str1.split('#')
print (x)

['Twitter', 'Sentiment', 'Analysis']

In [ ]:
# Number of Words
train['word_count'] = train['tweet'].apply(lambda x: len(str(x).split(" ")))
train[['tweet','word_count']].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          21
1  @user @user thanks for #lyft credit i can't us...          22
2                                bihday your majesty           5
3  #model   i love u take with u all the time in ...          17
4             factsguide: society now    #motivation           8

In [ ]:
# number of characters
train['char_count'] = train['tweet'].str.len()
train[['tweet','char_count']].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39

In [ ]:
# number of stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
# number of stopwords
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['stopwords']=train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet','stopwords']].head()

                                               tweet  stopwords
0   @user when a father is dysfunctional and is s...         10
1  @user @user thanks for #lyft credit i can't us...          5
2                                bihday your majesty          1
3  #model   i love u take with u all the time in ...          5
4             factsguide: society now    #motivation          1

In [ ]:
# number of hashtags
train['hashtags'] = train['tweet'].apply(lambda x: 
                                         len([x for x in x.split()
                                             if x.startswith('#')]))
train[['tweet','hashtags']].head()

                                               tweet  hashtags
0   @user when a father is dysfunctional and is s...         1
1  @user @user thanks for #lyft credit i can't us...         3
2                                bihday your majesty         0
3  #model   i love u take with u all the time in ...         1
4             factsguide: society now    #motivation         1

In [ ]:
# number of digits
train['digit'] = train['tweet'].apply(lambda x: 
                                         len([x for x in x.split()
                                             if x.isdigit()]))
train[['tweet','digit']].head(30)

                                                tweet  digit
0    @user when a father is dysfunctional and is s...      0
1   @user @user thanks for #lyft credit i can't us...      0
2                                 bihday your majesty      0
3   #model   i love u take with u all the time in ...      0
4              factsguide: society now    #motivation      0
5   [2/2] huge fan fare and big talking before the...      0
6    @user camping tomorrow @user @user @user @use...      0
7   the next school year is the year for exams.ð...      0
8   we won!!! love the land!!! #allin #cavs #champ...      0
9    @user @user welcome here !  i'm   it's so #gr...      0
10   â #ireland consumer price index (mom) climb...      0
11  we are so selfish. #orlando #standwithorlando ...      0
12  i get to see my daddy today!!   #80days #getti...      0
13  @user #cnn calls #michigan middle school 'buil...      0
14  no comment!  in #australia   #opkillingbay #se...      0
15  ouch...junior is angryð#got7 #junior #yugyo...      0
16  i am thankful for having a paner. #thankful #p...      0
17                             retweet if you agree!       0
18  its #friday! ð smiles all around via ig use...      0
19  as we all know, essential oils are not made of...      0
20  #euro2016 people blaming ha for conceded goal ...      0
21  sad little dude..   #badday #coneofshame #cats...      0
22  product of the day: happy man #wine tool  who'...      0
23    @user @user lumpy says i am a . prove it lumpy.      0
24   @user #tgif   #ff to my #gamedev #indiedev #i...      0
25  beautiful sign by vendor 80 for $45.00!! #upsi...      1
26   @user all #smiles when #media is   !! ðð...      0
27  we had a great panel on the mediatization of t...      0
28        happy father's day @user ðððð        0
29  50 people went to nightclub to have a good nig...      2

In [ ]:
# Pre-Processing
# Convert Tweets in a Lower Case
train['tweet'] = train['tweet'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['tweet'].head()

0    @user when a father is dysfunctional and is so...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model i love u take with u all the time in ur...
4                  factsguide: society now #motivation
Name: tweet, dtype: object

In [ ]:
# Remove Punctuations
train['tweet'] = train['tweet'].str.replace('[^\w\s]','')
# Regular Expression [^\w\s]
# ^ --> begining of regular expression
# \w --> looks for all characters including a-z A-Z 0-9
# \s --> include whitespaces 
train['tweet'].head(10)

0    user when a father is dysfunctional and is so ...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model i love u take with u all the time in urð...
4                    factsguide society now motivation
5    22 huge fan fare and big talking before they l...
6    user camping tomorrow user user user user user...
7    the next school year is the year for examsð ca...
8    we won love the land allin cavs champions clev...
9               user user welcome here  im its so gr8
Name: tweet, dtype: object

In [ ]:
# Removal of stopwords
stop = stopwords.words('english')

train['tweet'] = train['tweet'].apply(lambda x: " ".join(x for x in x.split()
                                       if x not in stop))
train['tweet'].head(10)

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
2                                       bihday majesty
3                model love u take u time urð ðððð ððð
4                        factsguide society motivation
5    22 huge fan fare big talking leave chaos pay d...
6    user camping tomorrow user user user user user...
7    next school year year examsð cant think ð scho...
8    love land allin cavs champions cleveland cleve...
9                             user user welcome im gr8
Name: tweet, dtype: object

In [ ]:
train['stopwords']=train['tweet'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['tweet','stopwords']].head()

                                               tweet  stopwords
0  user father dysfunctional selfish drags kids d...          0
1  user user thanks lyft credit cant use cause do...          0
2                                     bihday majesty          0
3              model love u take u time urð ðððð ððð          0
4                      factsguide society motivation          0

In [ ]:
!pip install -U textblob

Requirement already up-to-date: textblob in /usr/local/lib/python3.6/dist-packages (0.15.3)
Requirement already satisfied, skipping upgrade: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from textblob) (3.2.5)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->textblob) (1.12.0)

In [ ]:
# Spelling Correction
# Tokenization
# Stemming
# Sentiment Analysis

from textblob import TextBlob
# correct() 
str1 = 'lets chekc thsi speling'
TextBlob(str1).correct()

TextBlob("lets check this spelling")

In [ ]:
from textblob import Word
# spellcheck() --> return you a tuple (suggestion,confidence)
w = Word('sppeling')
print (w.spellcheck())

[('spoiling', 0.35), ('appealing', 0.25), ('spelling', 0.2), ('speeding', 0.1), ('peeling', 0.1)]

In [ ]:
train['tweet'][:20].apply(lambda x: TextBlob(x).correct())

0     (u, s, e, r,  , f, a, t, h, e, r,  , d, y, s, ...
1     (u, s, e, r,  , u, s, e, r,  , t, h, a, n, k, ...
2            (m, i, d, d, a, y,  , m, a, j, e, s, t, y)
3     (m, o, d, e, l,  , l, o, v, e,  , u,  , t, a, ...
4     (f, a, c, t, s, g, u, i, d, e,  , s, o, c, i, ...
5     (2, 2,  , h, u, g, e,  , f, a, n,  , f, a, r, ...
6     (u, s, e, r,  , c, a, m, p, i, n, g,  , t, o, ...
7     (n, e, x, t,  , s, c, h, o, o, l,  , y, e, a, ...
8     (l, o, v, e,  , l, a, n, d,  , a, l, l, e, n, ...
9     (u, s, e, r,  , u, s, e, r,  , w, e, l, c, o, ...
10    (â,  , i, r, e, l, a, n, d,  , c, o, n, s, u, ...
11    (s, e, l, f, i, s, h,  , o, r, l, a, n, d, o, ...
12    (g, e, t,  , s, e, e,  , d, a, d, d, y,  , t, ...
13    (u, s, e, r,  , c, a, n,  , c, a, l, l, s,  , ...
14    (c, o, m, m, e, n, t,  , a, u, s, t, r, a, l, ...
15    (o, u, c, h, j, u, n, i, o, r,  , a, n, g, r, ...
16    (t, h, a, n, k, f, u, l,  , p, a, p, e, r,  , ...
17              (b, e, t, w, e, e, n,  , a, g, r, e, e)
18    (f, r, i, d, a, y,  , ð,  , s, m, i, l, e, s, ...
19    (k, n, o, w,  , e, s, s, e, n, t, i, a, l,  , ...
Name: tweet, dtype: object

In [ ]:
# Tokenization
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
from nltk.tokenize import word_tokenize
data = "The quick brown fox jumps over the little lazy dog"
print (word_tokenize(data))

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'little', 'lazy', 'dog']

In [ ]:
TextBlob(train['tweet'][1]).words

WordList(['user', 'user', 'thanks', 'lyft', 'credit', 'cant', 'use', 'cause', 'dont', 'offer', 'wheelchair', 'vans', 'pdx', 'disapointed', 'getthanked'])

In [ ]:
# difference between splitting and tokenization
data = "This is the tutorial of python, nltk , textProcessing"
data.split()

['This',
 'is',
 'the',
 'tutorial',
 'of',
 'python,',
 'nltk',
 ',',
 'textProcessing']

In [ ]:
word_tokenize(data)

['This',
 'is',
 'the',
 'tutorial',
 'of',
 'python',
 ',',
 'nltk',
 ',',
 'textProcessing']

In [ ]:
# Stemming 

from nltk.stem import PorterStemmer
# create an object of PorterStemmer
st = PorterStemmer()
train['tweet'][:20].apply(lambda x: " ".join([st.stem(word) 
                                             for word in x.split()]))

0     user father dysfunct selfish drag kid dysfunct...
1     user user thank lyft credit cant use caus dont...
2                                        bihday majesti
3                 model love u take u time urð ðððð ððð
4                               factsguid societi motiv
5     22 huge fan fare big talk leav chao pay disput...
6     user camp tomorrow user user user user user us...
7     next school year year examsð cant think ð scho...
8     love land allin cav champion cleveland clevela...
9                               user user welcom im gr8
10    â ireland consum price index mom climb previou...
11    selfish orlando standwithorlando pulseshoot or...
12                   get see daddi today 80day gettingf
13    user cnn call michigan middl school build wall...
14    comment australia opkillingbay seashepherd hel...
15             ouchjunior angryðgot7 junior yugyoem omg
16                              thank paner thank posit
17                                         retweet agre
18    friday ð smile around via ig user user cooki m...
19                         know essenti oil made chemic
Name: tweet, dtype: object

In [ ]:
# Lemmatization
import nltk
nltk.download('wordnet')
from textblob import Word
w = Word("went")
w.lemmatize("v")  # verb

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

'go'

In [ ]:
# Sentiment Analysis
data = TextBlob("Awesome. Very Good")
data.sentiment

Sentiment(polarity=0.955, subjectivity=0.8900000000000001)

In [ ]:
data = TextBlob("Very Poor")
data.sentiment

Sentiment(polarity=-0.52, subjectivity=0.78)

In [ ]:
data = TextBlob("Welldone players, Team Played Well")
data.sentiment.polarity

0.0

In [ ]:
train['sentiment']=train['tweet'].apply(lambda x: TextBlob(x).sentiment)
train[['tweet','sentiment']].head(10)

                                               tweet                   sentiment
0  user father dysfunctional selfish drags kids d...                 (-0.5, 1.0)
1  user user thanks lyft credit cant use cause do...                  (0.2, 0.2)
2                                     bihday majesty                  (0.0, 0.0)
3              model love u take u time urð ðððð ððð                  (0.5, 0.6)
4                      factsguide society motivation                  (0.0, 0.0)
5  22 huge fan fare big talking leave chaos pay d...  (0.20000000000000004, 0.5)
6  user camping tomorrow user user user user user...                  (0.0, 0.0)
7  next school year year examsð cant think ð scho...                (-0.4, 0.45)
8  love land allin cavs champions cleveland cleve...                  (0.5, 0.6)
9                           user user welcome im gr8                  (0.8, 0.9)

In [ ]:
train['sentiment']=train['tweet'].apply(lambda x: TextBlob(x).sentiment[0])
train[['tweet','sentiment']].head(10)

                                               tweet  sentiment
0  user father dysfunctional selfish drags kids d...       -0.5
1  user user thanks lyft credit cant use cause do...        0.2
2                                     bihday majesty        0.0
3              model love u take u time urð ðððð ððð        0.5
4                      factsguide society motivation        0.0
5  22 huge fan fare big talking leave chaos pay d...        0.2
6  user camping tomorrow user user user user user...        0.0
7  next school year year examsð cant think ð scho...       -0.4
8  love land allin cavs champions cleveland cleve...        0.5
9                           user user welcome im gr8        0.8

In [ ]:
# Subjectivity 
# a.) Objective
# b.) Subjective 
# if subjectivity indicates that its close to 0 means OBJECTIVE
# if subjectivity indicates that its close to 1 mean SUBJECTIVE
# Objective are based on Facts and observations
# Subjective are based on Personal Opinions , Assumptions , Beliefs

TextBlob('Good Job but i will expect a lot more in future').sentiment.subjectivity

0.4083333333333334

In [ ]:
msg = 'Python est genial'
blob = TextBlob(msg)
blob.detect_language()

'fr'

In [ ]:
blob.translate(from_lang='fr',to='en')

TextBlob("Python is awesome")

In [ ]:
blob.translate(from_lang='fr',to='hi')

TextBlob("अजगर भयानक है")